@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
    color: white;
}

.navbar {
    transform: translateX(-50%);
}

.dark {
    background-color: #272525;
    color: white;
}

.dark .navbar a:hover {
    color: #BAD2FF;
}

.dark .navbar a.active {
    transition: 0.2s, linear;
    color: #BAD2FF;
}

.light {
    background-color: rgb(208, 225, 235);
    color: black;
}

.light nav {
    background-color: #f0f0f0;
    color: black;
}

.light .navbar a:hover {
    color: #005b96;
}


.light .navbar a.active {
    color: #005b96;
}

.home {
    transition: transform 0.5s ease-in-out;
}

.home.active {
    transform: translateX(-100%)
}
